<body>
    <main class="content">
        <div class="body-container" id="body-container-home">
            <div class="search-container">
                <input type="text" id="main-searchbar" placeholder="Enter an ingredient, recipe, or brand">
                <button id="search-button">Search</button>
                <button id="multiple-ingredients-search">Enter Multiple Ingredients</button>
            </div>
            <section id="cards">
                {{#each itemList}}
                {{> item}}
                {{/each}}
            </section>
        </div>
    </main>


    <div id="multiple-items-modal-backdrop" class="hidden"></div>
    <div id="multiple-items-modal" class="hidden">
        <div class="modal-dialog">

            <div class="modal-header">
                <h3>Enter up to 10 Items</h3>
                <button type="button" id="ingredients-modal-close" class="modal-hide-button">&times;</button>
            </div>

            <div class="modal-body">

                <div class="input-element">
                    <label for="ingredient-1-input">Item #1</label>
                    <input type="text" id="ingredient-1">
                </div>

                <div class="input-element">
                    <label for="ingredient-2-input">Item #2</label>
                    <input type="text" id="ingredient-2">
                </div>

                <div class="input-element">
                    <label for="ingredient-3-input">Item #3</label>
                    <input type="text" id="ingredient-3">
                </div>

                <div class="input-element">
                    <label for="ingredient-4-input">Item #4</label>
                    <input type="text" id="ingredient-4">
                </div>

                <div class="input-element">
                    <label for="ingredient-5-input">Item #5</label>
                    <input type="text" id="ingredient-5">
                </div>

                <div class="input-element">
                    <label for="ingredient-6-input">Item #6</label>
                    <input type="text" id="ingredient-6">
                </div>

                <div class="input-element">
                    <label for="ingredient-7-input">Item #7</label>
                    <input type="text" id="ingredient-7">
                </div>

                <div class="input-element">
                    <label for="ingredient-8-input">Item #8</label>
                    <input type="text" id="ingredient-8">
                </div>

                <div class="input-element">
                    <label for="ingredient-9-input">Item #9</label>
                    <input type="text" id="ingredient-9">
                </div>

                <div class="input-element">
                    <label for="ingredient-10-input">Item #10</label>
                    <input type="text" id="ingredient-10">
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" id="ingredients-modal-cancel"
                    class="modal-hide-button action-button">Cancel</button>
                <button type="button" id="ingredients-modal-accept" class="action-button">Search</button>
            </div>

        </div>
    </div>

    <div id="user-modal-backdrop" class="hidden"></div>
    <div id="user-modal" class="hidden">
        <div class="modal-dialog">

            <div class="modal-header">
                <h3>User Settings</h3>
                <button type="button" id="user-modal-close" class="modal-hide-button">&times;</button>
            </div>

            <div class="modal-body">

                <div class="input-element">
                    <label for="diet-select">Selected Diet</label>
                    <select name="diet-dropdown" id="diet">
                        <option value="none">None</option>
                        <option value="vegan">Vegan</option>
                        <option value="vegetarian">Vegetarian</option>
                    </select>
                </div>

                <div class="modal-footer">
                    <button type="button" id="user-modal-cancel" class="modal-hide-button action-button">Cancel</button>
                    <button type="button" id="user-modal-accept" class="action-button">Confirm</button>
                </div>

            </div>
        </div>
</body>