<main class="content">
        <nav class = "navbar">
            <ul class = "navlist">
                <li class = "navitem recipes"><a href="/">Recipes</a></li>
                <li class = "navitem brands"><a href="/">Brands</a></li>
                <li class = "navitem ingredients"><a href="/">Ingredients</a></li>
            </ul>
        </nav>
        
        <div class="body-container" id="body-container-home">
            <h2 id="site-subtitle">No items saved!</h2>
        </div>
    </main>