<main class="content">
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem"><a href="/">My Saved Items</a></li>
        </ul>
    </nav>

    <div class="body-container" id="body-container-home">
        <h2 id="site-subtitle">No items saved!</h2>
    </div>
</main>